.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question{
    margin-bottom: 30px;
}

.answer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

img{
    width: 600px;
    height: 350px;
}

.text{
    width: 600px;
    height: 100px;
}